body{
	font-family: Tahoma, Trebuchet, Lucida Grande, Verdana, Arial, Sans-Serif;
	font-size: .9em; 
	color:#333;
	background: #FFF;
	margin: 0;
	height: 100%;
}

h1 {
	font-size: 18px;
	color: #333;
	margin-top: 4px;
	font-weight: normal;
	text-decoration: underline;
	}

h2 {
	font-size: 1.0em;
	color: #333;
	margin-top: -2px;
	}

h3 {
	font-size: .9em;
	color: #000;
	margin-top: -2px;
	font-size: .6em;
	font-family: Georgia, serif; 
	margin-bottom: 0px;
	color: #063260;
	font-weight: bold;
	padding-bottom: 5px;
	}

h4 {
	font-size: 1.3em;
	text-align: left;
	font-family: Georgia, serif;
	margin-top: 0px;
	margin-bottom: 0px;
	}

a	{
	color:#FF9100;
	background-color:transparent;
	text-decoration:underline;
	font-weight:bold;
}
a:link	{
	color:#FF9100;
	background-color:transparent;
	text-decoration:none;
	font-weight:bold;
}
a:visited	{
	color:#FF9100;
	background-color:transparent;
	text-decoration:underline;
	font-weight:bold;
}
a:active	{
	color:#FF9100;
	background-color:transparent;
	text-decoration:underline;
	font-weight:bold;
	outline: none;
}
a:hover	{
	color:#383D3C;
	background-color:transparent;
	text-decoration:underline;
	font-weight:bold;
}



/********************************************
Containers
*********************************************/

.header {
	width: 928px;
	height: 80px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	}

.subheader {
	width: 725px;
	text-align: left;
	}

.logo {
	float: left;
	background: #FFF url('images/car.png') no-repeat;
	width: 400px;
	height: 122px;
	}

.logo_right {
	float: left;
	width: 514px;
	height: 70px;
	border: 1px solid #E7E8E6;
	margin-top: 10px;
	padding: 5px;
	font-size: 11px;
	color: #757575;
	text-align: right;
	}


.nav {
	padding-top: 5px;
	width: 928px;
	height: 22px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background: #666;
	clear: both;
	background: #FFF url('images/grad2.gif')repeat-x;
	color: #FFF;
	font-size: 12px;
    cursor: hand;
	}

.shadow {
	width: 928px;
	height: 10px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background: #666;
	clear: both;
	background: #FFF url('images/shadow.png')repeat-x;
	}


.top {
	width: 924px;
	height: 20px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #E7E8E6;
	background: #F8F8F7;
	padding-top: 5px;
	text-align: right;
	font-weight: bold;
	color: #333;
	font-size: 11px;
	}

.left_col {
	width: 180px;
	float: left;
	text-align: left;
	border-right: 1px solid #E7E8E6;
	height: 100%;
	}

.right_main {
	float: left;
	width: 728px;
	text-align: left;
	padding-left: 10px;
	}
	
.clear { clear: both;}

#wrapper {
	width: 924px;
	height: 1800px;
	margin-right: auto;
	margin-left: auto;
	border-top: 0px;
	border-right: 1px solid #E7E8E6;
	border-left: 1px solid #E7E8E6;
	border-bottom: 1px solid #E7E8E6;
	text-align: left;
	background: #FFF url('images/grad1.gif') repeat-y;
	}

#reportwrapper {
	width: 924px;
	margin-right: auto;
	margin-left: auto;
	border-top: 0px;
	border-right: 1px solid #E7E8E6;
	border-left: 1px solid #E7E8E6;
	border-bottom: 1px solid #E7E8E6;
	text-align: left;
	background: #FFF url('images/grad1.gif') repeat-y;
	}

.left_heads {
	background: #FFF url('images/grad3.gif') repeat-x;
	height: 20px;
	width: 180px;
	padding-top: 6px;
	font-weight: bold;
	color: #FFF;
	font-size: 11px;

	}

.lefts {

	width: 180px;
	padding-left: 4px;
	font-weight: normal;
	color: #757575;
	font-size: 12px;

	}

.bottom {
	width: 924px;
	height: 100px;
	margin-right: auto;
	margin-left: auto;
	border-top: 1px solid #E7E8E6;
	border-right: 1px solid #E7E8E6;
	border-left: 1px solid #E7E8E6;
	border-bottom: 1px solid #E7E8E6;
	text-align: center;
	background: #FFF url('images/grad1.gif') repeat-x;
	}

.copyright {
	font-size: 11px;
	text-align: center;
	}

.spacer {
	border-top: 1px solid #E7E8E6;
	padding-top: 5px;
	padding-bottom: 5px;
	}

.nav a	{
	color:#FFFFFF;
	background-color:transparent;
	text-decoration:none;
	font-weight:normal;
	font-size: 1.0em;
		outline: none;
}
.nav a:link	{
	color:#FFFFFF;
	background-color:transparent;
	text-decoration:none;
	font-size: 1.0em;
		outline: none;
			font-weight:normal;
}
.nav a:visited	{
	color:#FFFFFF;
	background-color:transparent;
	text-decoration:none;
	font-size: 1.0em;
		font-weight:normal;
}
.nav a:active	{
	color:#FFFFFF;
	background-color:transparent;
	text-decoration:none;
	font-size: 1.0em;
	outline: none;
		font-weight:normal;

}
.nav a:hover	{
	color:#F3F3F3;
	background-color:transparent;
	text-decoration:underline;
	font-size: 1.0em;
		outline: none;
			font-weight:normal;
}

.img-shadow {
  float:left;
  background: url('images/shadowAlpha.png') no-repeat bottom right !important;
  background: url('images/shadow.gif') no-repeat bottom right;
  margin: 10px 0 0 10px !important;
  margin: 10px 0 0 5px;
  }

.img-shadow img {
  display: block;
  position: relative;
  background-color: #fff;
  border: 1px solid #a9a9a9;
  margin: -6px 6px 6px -6px;
  padding: 4px;
} 

.p-shadow {
  width: 90%;
  float:left;
  background: url(shadowAlpha.png) no-repeat bottom right !important;
  background: url(shadow.gif) no-repeat bottom right;
  margin: 10px 0 0 10px !important;
  margin: 10px 0 0 5px;
  }

.p-shadow div {
  background: none !important;
  background: url(shadow2.gif) no-repeat left top;
  padding: 0 !important;
  padding: 0 6px 6px 0;
  }

.p-shadow p {
  color: #777;
  background-color: #fff;
  font: italic 1em georgia, serif;
  border: 1px solid #a9a9a9;
  padding: 4px;
  margin: -6px 6px 6px -6px !important;
  margin: 0;
  }

fieldset 
{
  width :250px;
  padding: 1em;
  font:80%/1 sans-serif;
  }
  
label {
  float:left;
  width:25%;
  padding-top:10px;
  text-align:right;
  font-weight:bold;
  }
  
legend {
  padding:  0.05em 0.5em;
  border:1px solid black;
  color:black;
  font-size:90%;
  text-align:left;
  }

textbox {
     margin-top: 1.5px;
  }
  
.fieldsettext {
     margin-top: 1.5px;
  }

tables 
{
	border-spacing: 0px;
	padding: 0px;
	}

tds
{
	border-spacing: 0px;
	padding: 0px;
	}

.reportHeader
{
	font-size: smaller;
}

.reportData
{
	font-size: smaller;
}
.noshow
{
	display: none;
}

.smalltext
{
    font-size: small;
}

.error
{
    color: Red;
}