﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="configuration.aspx.vb" Inherits="tasks_configuration" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="../style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div class="left_heads">&nbsp;&nbsp;Setup</div><div class="lefts"><a href="/car/setup/accelerators.aspx">Accelerators</a></div><br />
    </form>
</body>
</html>
