﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="deliverytickets.aspx.vb" Inherits="tasks_deliverytickets" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="../style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <div class="left_heads">&nbsp;&nbsp;Delivery Tickets</div>
    <div class="lefts"><a href="#" onclick="parent.myHome.location.href='/deliverytickets/dtlabels.aspx'">Re-Print Labels</a></div>
    </div>
    </form>
</body>
</html>
