﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="junkvehicles.aspx.vb" Inherits="tasks_vehiclestojunk" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="../style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div class="left_heads">&nbsp;&nbsp;Tasks</div>
        <div class="lefts"><a href="#" onclick="parent.myHome.location.href='/junkvehicles/junk.aspx'">Vechicles to Junk Store 1</a><br /><a href="#" onclick="parent.myHome.location.href='/junkvehicles/junk3.aspx'">Vechicles to Junk Store 3</a></div><br />
    <div class="left_heads">&nbsp;&nbsp;Reports</div>
        <div class="lefts"><a href="#" onclick="parent.myHome.location.href='/junkvehicles/junk_report.aspx'">Junk Report Store 1</a><br /><a href="#" onclick="parent.myHome.location.href='/junkvehicles/junk_report3.aspx'">Junk Report Store 3</a><br /><a href="/junkvehicles/bust_report.aspx" target="_blank">Bust Report Store 1</a><br /><a href="/junkvehicles/bust_report.aspx?store=3" target="_blank">Bust Report Store 3</a><br /><a href="/junkvehicles/pull_report.aspx" target="_blank">Pull Report Store 1</a><br /><a href="/junkvehicles/pull_report.aspx?store=3" target="_blank">Pull Report Store 3</a><br /></div><br />					
    <div class="left_heads">&nbsp;&nbsp;Setup</div>
        <div class="lefts"><a href="#" onclick="parent.myHome.location.href='/junkvehicles/accelerators.aspx'">Accelerators</a></div><br />
    </form>
</body>
</html>
