﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="webaccounts.aspx.vb" Inherits="tasks_webaccounts" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="../style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div class="left_heads">&nbsp;&nbsp;Web&nbsp;Accounts</div>
    <div class="lefts"><a href="#" onclick="parent.myHome.location.href='/webaccounts/default.aspx?status=1'">Pending</a></div>
    <div class="lefts"><a href="#" onclick="parent.myHome.location.href='/webaccounts/default.aspx?status=2'">Active</a></div>
    <div class="lefts"><a href="#" onclick="parent.myHome.location.href='/webaccounts/default.aspx?status=3'">In-Active</a></div>
    </form>
</body>
</html>
