﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="print.aspx.vb" Inherits="reports_print" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Print MMDC</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <br /><br /><br />
    <center>
        <asp:Label ID="lblMessage" runat="server" Text=""></asp:Label>
    </center>    
    </div>
    </form>
</body>
</html>
