﻿body 
{
 
}
table
{	width: 800px;
	}
	
.reporttitle
{
	font-family: tahoma,arial;
	font-size: large;
	font-weight: bold;
	color: black;
}

.tableheader
{
	font-family: tahoma,arial;
	font-size: small;
	font-weight: bold;
	color: black;
}
.tabledata
{
	font-family: tahoma,arial;
	font-size: small;
	color: black;
}
.tabledatared
{
	font-family: tahoma,arial;
	font-size: small;
	color: red;
}
.tabledatayellow
{
	font-family: tahoma,arial;
	font-size: small;
	color: yellow;
}
.tabledatagreen
{
	font-family: tahoma,arial;
	font-size: small;
	color: green;
}