﻿            <table cellpadding="1" cellspacing="0" border="0" width="750">
                <tr>
                    <td width="75"><font face="arial" size="3">160R</font><br /><br /></td>
                    <td width="200">&nbsp;</td>
                    <td width="400">&nbsp;</td>
                    <td width="75">&nbsp;</td>
                </tr>
                <tr>
                    <td width="75"><font face="arial" size="3">160L</font><br /><br /></td>
                    <td width="200">&nbsp;</td>
                    <td width="400">&nbsp;</td>
                    <td width="75">&nbsp;</td>
                </tr>
                <tr>
                    <td width="75"><font face="arial" size="3">170</font><br /><br /></td>
                    <td width="200">&nbsp;</td>
                    <td width="400">&nbsp;</td>
                    <td width="75">&nbsp;</td>
                </tr>
                <tr>
                    <td width="75"><font face="arial" size="3">198R</font><br /><br /></td>
                    <td width="200">&nbsp;</td>
                    <td width="400">&nbsp;</td>
                    <td width="75">&nbsp;</td>
                </tr>
                <tr>
                    <td width="75"><font face="arial" size="3">198L</font><br /><br /></td>
                    <td width="200">&nbsp;</td>
                    <td width="400">&nbsp;</td>
                    <td width="75">&nbsp;</td>
                </tr>
                <tr>
                    <td width="75"><font face="arial" size="3">152</font><br /><br /></td>
                    <td width="200">&nbsp;</td>
                    <td width="400">&nbsp;</td>
                    <td width="75">&nbsp;</td>
                </tr>
                <tr>
                    <td width="75"><font face="arial" size="3">288</font><br /><br /></td>
                    <td width="200">&nbsp;</td>
                    <td width="400">&nbsp;</td>
                    <td width="75">&nbsp;</td>
                </tr>
                <tr>
                    <td width="75"><font face="arial" size="3">190</font><br /><br /></td>
                    <td width="200">&nbsp;</td>
                    <td width="400">&nbsp;</td>
                    <td width="75">&nbsp;</td>
                </tr>
                <tr>
                    <td width="75"><font face="arial" size="3">166R</font><br /><br /></td>
                    <td width="200">&nbsp;</td>
                    <td width="400">&nbsp;</td>
                    <td width="75">&nbsp;</td>
                </tr>
                <tr>
                    <td width="75"><font face="arial" size="3">166L</font><br /><br /></td>
                    <td width="200">&nbsp;</td>
                    <td width="400">&nbsp;</td>
                    <td width="75">&nbsp;</td>
                </tr>
            </table>