﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="bust_report.aspx.vb" Inherits="bust" %>

<%@ Register src="includes/header.ascx" tagname="header" tagprefix="uc1" %>
<%@ Register src="includes/footer.ascx" tagname="footer" tagprefix="uc2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Bust Up Report</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="table_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <uc1:header ID="header1" runat="server" />
 <br />
    <div class="top"><a href="###"></a><a href="###"></a>&nbsp;&nbsp;&nbsp;</div>

    <div id="wrapper">
        
    </div>    
    </form>
</body>
</html>