﻿
* 			{ margin:0; padding:0; }  /* reset */

html		{ height:100%; } /* so footer will be anchored to bottom of big window */

body		{
			height:100%;
			margin:0 auto;
			border:none;
			background:#1e2b4a url(../images/bg.png) repeat-x fixed 0 0;
			color:#fff;
			}

body,
input,
textarea	{ font:normal 12px "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; }

/* adding Lucida Sans makes bold and italic look better on windows */
strong, em, b, i { font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; }

table		{
			border-collapse: collapse;
			border:0;
			}

h1, h2, h3, h4	{
			color:#fff;
			text-shadow: 1px 1px 1px #000;
			}

h1 			{
			font-size:16px;
			font-weight:bold;
			color:#333;
			padding:20px 0 5px;
			text-align:left;
			text-shadow:none;
			border-bottom:3px solid #C78D3D; /* brown-orange underline */
			}
			
	h1:first-child { padding-top:0; }

h2 			{ font-size:22px; }

h3 			{ font-size:20px; }

h4 			{ font-size:18px; }

a			{ text-decoration:underline; color:#fff; }
a:hover		{ text-decoration:none; }
a:focus 	{ outline:none; }

ul,ol,li	{ list-style:none; }

ol 			{ list-style-position:outside; }

ol li 		{
			list-style-type:decimal;
			margin:10px 40px 0 40px;
			}

.clearfix:after
			{
			content:".";
			display:block;
			height:0;
			clear:both;
			visibility:hidden;
			}
.clearfix 	{ display:inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height:1%; }
.clearfix { display:block; }
/* end hide from IE-mac */

/***********************************/
/* LAYOUT **************************/
/***********************************/

#wrapper	{
			height:auto;
			min-height:100%;
			margin:0 auto;
			width:908px;
			text-align:left;
			}

#header		{	
			padding:11px 12px 13px;
			position:relative;
			}

#toppanel	{
			position:absolute;
			top:4px;
			width:904px;
			z-index:25;
			margin-left:auto;
			margin-right:auto;
			text-align:right;
			}

#logo { 
			position:relative;
			height:50px;
			width:224px;
			}
	  	
	#logo A	{
				background:transparent url(../images/covered-call.png) no-repeat scroll left top;
				display:block;
				position:relative;
				height:100%;
				width:100%;
				text-align:left;
				text-decoration:none;
				text-indent:-10000px;
				}

#logoForPrint { display:none; }

@media print {

	/* Guarantee the logo appears on hardcopy, even if "print background" is checked off in print dialog 
	 * (we have to use an IMG tag in the source instead of a background-image in the CSS).
	 */

	#logo,
	#nav,
	.adv-action,
	.adv-help,
	.basic-filters,
	.advanced-filters,
	#expirationSliderContainer,
	#goal_advancedFilters {
			display:none !important;
			}
	
	#content,
	#contentWithSubMenu { padding-top: 0 !important; }
	
	#logoForPrint {
			display:block;
			position:relative;
			height:50px;
			width:224px;
			}

	td, table { 
		height: 100%;
		overflow:visible;  
	}
	
	#tableWrapper { overflow:visible !important; }

}

#loginLogoutArea {
			position:absolute;
			top:20px;
			right:15px;
			font-size:14px;
			}

/***********************************/
/* MAIN CONTENT ********************/
/***********************************/

#main		{ padding-bottom:79px; }  /* must be same height as the footer */

#content	{
			/* 60px pushes content below menu bar.
			 * the 4px brings the edges of the content flush with the edges of the mainmenu.
			 */
			padding:60px 4px 10px 4px;
			} 

#contentWithSubMenu	{
			/* 90px pushes content below menu bar and submenu.
			 * the 4px brings the edges of the content flush with the edges of the mainmenu.
			 */
			padding:90px 4px 10px 4px;
			}

	#content h3,
	#contentWithSubMenu h3,
	#nyroModalWrapper h3 {
				margin:0 0 10px;
				font-weight:normal;
				line-height:24px;
				}

		#content h3 span,
		#contentWithSubMenu h3 span {  
					position:relative;
					float:right;
					}

#allcapsheadline {
			margin:0 0 15px;
			padding:15px 0 5px;
			text-align:center;
			height:auto;
			font-size:24px;
			font-weight:normal;
			letter-spacing:0.1em;
			}

/***********************************/
/* MENUS ***************************/
/***********************************/

#nav {
		position:relative;
		margin:0px 0 0 0px;
		font-size:16px;
		z-index:3;
		}
		
	#nav a {
			text-decoration:none;
			color:white;
			text-shadow:1px 1px 1px #000;
			white-space:nowrap;
			}
			
	#nav a:hover { text-shadow:1px 1px 5px #000; }

#mainMenu {
		line-height:normal;
		width:908px;
		position:absolute;
		top:0;
		left:0;
		z-index:2;
		}
			
    #mainMenu ul {
    		margin:0;
    		padding:2px 0 0 10px;
    		list-style:none;
    		background:transparent url(../images/bg-menu.png) no-repeat scroll 0 0;
    		height:46px;
    		}
    		
    #mainMenu li {
    		float:left;
    		margin:0;
    		padding:0 0 0 15px;
    		height:36px;
    		}
    		
	#mainMenu li,
	#mainMenu a {
			background:url(../images/bg-menu-hover.png) no-repeat left top;
			background-position:0% -150px;
			}
			
    #mainMenu a {
			float:none;
			display:block;
			width:.1em;
			padding:7px 15px 0 0px;
			height:30px;
			font-size:16px;
			}
			
    #mainMenu > ul a { width:auto; }
	
    #mainMenu li.active {  /* "active" = the current menu item */
    		background-position:0% 0px;
    		border-width:0;
    		}
  
    #mainMenu li a.active {
    			background-position:100% 0px;
    			text-shadow:1px 1px 5px #000;
    			}

    #mainMenu li:hover { background-position:0% 0px; }
    
    #mainMenu li:hover a { background-position:100% 0px; }
	  
	  
#submenu {
		line-height:normal;
		width:880px;
		position:absolute;
		top:20px;
		left:14px;
		font-size:14px;
		}
		
    #submenu ul {
    		margin:0;
    		padding:2px 0 0 15px;
    		list-style:none;
    		background:transparent url(../images/bg-submenu.png) no-repeat scroll 0 0;
    		height:50px;
    		}
    		
    #submenu li {
			float:left;
			margin-top:8px;
			padding:0 0 0 15px;
			height:38px;
			}
			
	#submenu li,
	#submenu a {
			background:url(../images/bg-submenu-hover.png) no-repeat left top;
			background-position:0% -150px;
			}
			
    #submenu a {
			float:none;
			display:block;
			width:.1em;
			padding:15px 15px 0px 0px;
			font-size:14px;
			height:23px;
			}
			
    #submenu > ul a { width:auto; }

	#submenu li.active {  /* "active" = the current submenu item */
			background-position:0 0px;
			border-width:0;
			}
			
    #submenu li a.active {
    		background-position:100% 0px;
    		text-shadow:1px 1px 5px #000;
    		}
	  
    #submenu li:hover { background-position:0% 0px; }
    
    #submenu li:hover a { background-position:100% 0px; }


#nav-sidebar, 
#nav-sidebar h1,
#nav-sidebar h3, 
.sidebar-bottom { background:transparent url(../images/bg-sidebar-200.png) no-repeat left top; }

.sidebar-bottom {
			height:12px;
			width:200px;
			background-position: 0 bottom;
			}

#nav-sidebar {
			float:left;
			width:200px;
			min-height:180px;
			margin-right:20px;
			background-position:-200px -50px;
			background-repeat:repeat-y;
			position:relative;
			}

	#nav-sidebar h1,
	#nav-sidebar h3 {
					width:175px;
					min-height:25px;
					padding:8px 10px 12px 15px;
					margin-bottom:0px;
					font-size:16px;
					}
						
	#nav-sidebar p {
					padding:10px;
					font-size:12px;
					line-height:16px;
					}

	#nav-sidebar li {
					font-size:14px;
					padding:3px 10px 3px 5px;
					text-indent:10px;
					}
					
		#nav-sidebar li:hover,
		#nav-sidebar li.active
						{
						background:transparent url(../images/sidebar-hover.png) no-repeat 0 -2px;
						cursor:pointer;
						}
	
		#nav-sidebar li a {
						color:white;
						text-decoration:none;
						text-shadow: 1px 1px 1px #000;
						text-indent:10px;
						display:block;
						border-bottom:0px
						}

#twothirds-block { margin-left:110px } /* center beneath the menu bar (900-680)/2 */

#question-block {
			float:left;
			width:680px; /* used in twothirds-block above */
			color:#C9D2DC;
			}
			
.content-header, 
.content-footer {
			background:transparent url(../images/content-border-680-grey.png) no-repeat top left;
			width:680px;
			height:12px;
			}

.content-footer { background-position:bottom left; }

#summary .content-header,
#summary .content-footer {
			background-image: url(../images/content-border-600-grey.png);
			width:600px;
			}

#helpwidth .content-header,
#helpwidth .content-footer,
#fullwidth .content-header,
#fullwidth .content-footer,
#fullwidth2 .content-header,
#fullwidth2 .content-footer,
#personalCalendar .content-header,
#personalCalendar .content-footer {
			background-image: url(../images/content-border-900-grey.png);
			width:900px;							
			}

#helpwidth { display:none; }

#questions,
#questions2 {
			 padding:8px 20px;
			 background-color:#eee;
			}
							
.question {
			font-size:14px;
			line-height:20px;
			padding-top:15px;
			color:#333;
			}
			
	.question:first-child { padding:0; }

	.question a { color:#111; }

	.question p { padding:10px 0 0 0; }

		.question p:first-child { padding:0; }

.section { padding-top:20px; }

	.section .sidebar {
					float:left;
					width: 320px;
					text-align:center;
					}
	
	.section .content-block {
				float:left;
				width: 580px;
				}
	
	.section .question {
				padding:8px 20px;
				background-color:#eee;	
				}
				
	.section .content-block .content-header,
	.section .content-block .content-footer {
				background-image: url(../images/content-border-580-grey.png);
				width:580px;
				height:12px;
				}
					
	.section .content-block .content-footer { background-position:bottom left; }

.sortbyreplica {
		width:80px;
		line-height:16px;
		margin:20px auto 0;
		background: url(../images/slider/bg_slider_tooltip.png) top left repeat-x;
		}

/***********************************/
/* FORMS ***************************/
/***********************************/

select	{
		font-size:14px;
		margin:0px;
		padding:5px 15px 5px 5px;
		}
	
option 	{
		background-color:white;
		margin:3px 0;
		padding:1px 4px;
		}

input,
textarea
		{
		font-size:16px;
		color:#333;
		border:none;
		outline:none;
		}
	
	input.textfield,
	textarea {
			padding:5px;
			border:4px solid #ccc;
   			background:#fff;
			}
		
label	{
		color:#666;
		display:block;
		margin:0 0 3px;
		}

	label.checkboxfield,
	label.radiofield { color:#333; }
	
	label.radiofield_horz {
			color:#ddd;
			display:inline;
			margin-left:10px;
			}

	label.radiofield_horz:first-child { margin-left:0; }

.labelfield { margin-bottom:10px; }

#contact-form,
#signup_form {
		width:400px;
		margin:20px auto 0;
		}
		
	#contact-form p { margin-bottom:10px; }
					
	#contact-form input,
	#contact-form textarea,
	#signup_form input.textfield,
	#signup_form textarea { width:382px; }

.US		{ display:inline; }
.nonUS 	{ display:none;   }

.field_error {
		font-size:14px;
		background:#ff6347;
		padding:2px 4px 2px 4px;
		color:#fff;
		display:none;
		}

.stock_symbol_input {  
    	text-align:center;
    	text-transform:uppercase;
    	width:60px;  
		}

.stock_shares_input {
    	text-align:center;
    	width:65px;  
		}

.stock_price_input {
    	text-align:center;
    	width:65px;  
		}
		
.input_date {
    	text-align:center;
    	width:80px;  
		}
	
.income_received_input {
    	text-align:center;
    	width:70px;  
		}

.negative_number {
		color:#a00; /* global setting for all negative numbers on the site */
		}
		
.good_number {
		color:#080; /* numbers that are in the investors favor on Roll Me page */
		}

.no_option {
		color:#aaa; /* show the '-' dimmed */
		}

.processingMessage {
		display:none;
		text-align:right;
		height:30px;
		}

/* we should use field_error instead of error -- we will delete 'error' eventually */
/* .error {
	color: red;
} */

/***********************************/
/* HOME PAGE OPTIONS ***************/
/***********************************/

#descr-home H1 {
		margin:0 auto;
		font-size:16px;
		font-weight:normal;
		line-height:28px;
		text-align:center;
		color:#fff;
		text-shadow:1px 1px 1px #000;
		border-bottom:0;
		}

#blocks-home {
		padding:30px 0 20px;
		margin:0 auto;
		height:257px; /* required for IE7, not required for others; should agree with height in .block */
		width:831px;  /* width and .block:margin-right are tied together for block spacing */
		text-align:center;
		} 

.block {
		width:227px;
		height:257px; /* must agree with height in #blocks-home */
		background:transparent url(../images/home-block.png) no-repeat 0 0;
		float:left;
		margin-right:75px; /* margin-right and blocks-home:width are tied together for block spacing */
		position:relative;
		}

	.block p {
			margin:0 auto;
			padding:12px 0 0;
			font-size:16px;
			line-height:24px;
			text-align:center;
			text-shadow:1px 1px 1px #000;
			}
			
	.block p.subhead {
				padding:33px 0 0;
				font-size:14px;
				line-height:20px;
				color:#aaa;
				}
		
	.blocklast { margin-right:0px; }
	
.blockbutton {
			background:transparent url(../images/blockbutton.png) no-repeat 0 -51px;
			width:125px;
			height:50px;
			position:absolute;
			top:172px;
			left:50px;
			font-size:18px;
			color:white;
			text-decoration:none;
			text-shadow:1px 1px 1px #000;
			}
			
.blockbutton:hover { background-position:0 0px; }

.blockbutton span {
				display:block;
				width:100px;
				padding:14px 0 0;
				margin:0 auto;
				text-align:center;
				}

/***********************************/
/* FOOTER **************************/
/***********************************/

#footer		{
			height:79px; /* must be same height as main */
			position:relative;
			background:transparent url(../images/bg-footer.png) repeat-x scroll 0 0;
			margin-top:-79px; /* negative value of footer height */
			clear:both;
			text-align:center;
			color:#666;
			z-index:0;
			} 

	#footer a	{
				color:#666;
				text-decoration:none;
				}

	#footer a:hover	{ text-decoration:underline; }

	#footer ul 	{ padding:20px 0; }

	#footer li	{
				padding:0 10px;
				display:inline;
				}
				
	#footer li a	{ color:#AC6F1B; }


/***********************************/
/* BUTTON STYLE ********************/
/***********************************/

a.button,
a.buttongrey {
			display: inline-block;
			cursor:pointer;
			background: transparent url(../images/button-orange-right.png) no-repeat scroll top right; 
			height: 30px; /* change this value according to image height */
			padding-right: 15px; /* change this value according to right image width */
			color: #fff;
			text-decoration:none;
			text-shadow:1px 1px 1px #000;
			font-size:15px;
			font-weight:normal;
			}

	a.button span,
	a.buttongrey span {
				background: transparent url(../images/button-orange-left.png) no-repeat; 
				display: block;
				color: #fff;
				line-height: 16px; /* change this value according to button height */
				padding: 6px 0 8px 13px;
				} 

a.buttongrey {
			background-image:url(../images/button-grey-right.png);
			margin-right:12px;
			}
				
	a.buttongrey span { background-image:url(../images/button-grey-left.png); }

/* we may make all buttons float right eventually (probably) and then we can put the
 * float:right in the button and buttongrey definitions.
 */
a.floatright { float:right; }

/***********************************/
/* GENERIC STYLES ******************/
/***********************************/

.simpleList	{
			margin:0;
			padding:5px 30px;
				}
				
	.simpleList li {
				list-style-position:outside;
				list-style-type:disc !important;
				}

dfn			{
			font-style:normal;
			font-weight:bold; 
			}

blockquote	{
			margin:15px 20px 10px 20px;
			padding:10px 15px 10px 20px;
			color:#333;
			border-left:8px solid #1E2B4A; /* dark blue veritcal bar on left */
			background-color:#9DB0C8;
			}

em			{ font-weight:bold; }
			
.instruction_text {
			color:#CC6;
			font-style:normal;
			}

.data_format_hint {
			color:#888;
			font-style:normal;
			}

#pricesLastUpdated {
			position:absolute;
			left:800px;
			margin-top:7px;
			color:#ccc;
			font-size:10px;
			text-align:right;
			}
			
/***********************************/
/* MODAL DIALOGS *******************/
/***********************************/

.modal_container { display:none; }

.modal {
		width:600px;
		padding:10px 20px 15px;
		font-size:13px;
		}

	.modal h3 {
			/* this is the orange line under the modal dialog titles */
			padding-bottom:5px;
			border-bottom:3px solid #C78D3D; /* brown-orange underline */
			}				

	.modal .form_table {
			position:relative;
			text-align:left;
			margin:20px 0 0 0;
			}
		
		.modal .form_table TR { vertical-align:top; }
				
		.modal .form_table TD { padding-right:30px; }
		
		.modal .form_table label { color:#fff; }
	
	.modal .textfield { text-align:center; }
				
	.modal UL {
			position:relative;
			list-style:none;
			padding:0 0 0 20px;
			margin:0;
			}
			
	.modal LI {
			list-style:none;
			padding:10px 0;
			margin:0;
			}

.modal_buttons {
		margin:20px 0 0;
		}

/***********************************/
/* TABLE STYLES ********************/
/***********************************/

.exampletable {
		position:relative;
		width:100%;
		margin-top:10px;
		text-align:left; 
		}
			
	.exampletable th {
			background-color:#9DB0C8; /* same as blockquote */
			padding-left:13px;
			height:36px;
			font-weight:normal;
			}
				
	.exampletable tr {
			background:#fff;
			color:#000;
			}
				
	.exampletable td {
			border-bottom:1px solid #ccc;
			padding:8px 13px;
			}

.exampleMath {
		color:#888;
		font-size:10px;
		}
		
.zebra-row { background:#eee !important; }
.recentAddOrEdit { background:#8b8 !important; }

.header-subtext {
		display:inline;
		font-size:12px;
		color:#aaa;
		text-shadow:none;
		}

/***********************************/
/* TOOLTIP *************************/
/***********************************/

#tooltip {
		position: absolute;
		z-index: 3000;
		margin-top:-20px;
		background:#eea234 url(../images/slider/bg_slider_tooltip.png) top left repeat-x; 
		border:1px solid #5f5f5f;
		padding: 5px 15px;
		opacity: 0.9;
		font-size:12px !important;
		}

#tooltip h3, 
#tooltip div { margin: 0; }

/******************************/
/* Ex-Div and Earnings column */
/******************************/

.divAndEarningsD,
.divAndEarningsE {
		display:inline-block;
		width: 17px;
		height: 16px;
 		vertical-align: middle;
		cursor: pointer;
		}

.divAndEarningsD { background-color:#98C898; }
.divAndEarningsE { background-color:#e06060; }

.weeklysColor { color:#e06060; }

.inTheMoney { background-color:#ccc; }
.inTheMoneyExample {
			background-color:#ccc;
			padding:0 5px 2px;
			}


.shortDateWidth {
			width:56px;
			height:auto;
			cursor:auto;
			}

/* for the twitter and facebook icons */
.smallIcon {
		padding:0 5px 4px 1px;
		vertical-align:middle;
		}

/*********************************/
/* Advanced or show/hide options */
/*********************************/

.adv-action { /* this is for most of the action links, Show Help, Show Advanced Filters, etc */
		color:#aaa;
		font-size:14px;
		text-shadow:none;
		}

.adv-help { /* this puts the Show Help over on the right */
		text-align:right;
		}

.checkmark {
		height:24px;
		display:block;
		padding-left:25px;
    	background:transparent url(../images/checkmark.png) no-repeat scroll 0 2px;
		}

/*********************************/
/* AJAX loading					 */
/*********************************/

.ajaxLoading {
		background:#1E2B4A url(../images/ajaxLoader.gif) no-repeat scroll center center;
		height:auto !important;
		min-height:150px;
		position:relative;
		width: 100%;
		z-index: 9999;
		opacity: 0.5;
		filter: Alpha(Opacity=50); 
		} 
