﻿#searchDemoTable {
		width:100%;
		margin:0 auto 0;
		text-align:center; 
		font-weight:normal;
		}
			
	#searchDemoTable TR	{
			background:#fff;
			color:#000;
			}
				
	#searchDemoTable TH	{
			height:36px;
			font-size:12px;
			font-weight:normal;
			line-height:15px;
			cursor:pointer;
			background:#bbb;
			color:#000;
			width:10%; /* demo is fixed at 10 columns */
			}
			
	#searchDemoTable TD	{
			height:36px;
			font-size:15px;
			}
				
	#searchDemoTable STRONG { cursor:default; }

	#searchDemoTable .last-row,
	#searchDemoTable .last-row TD {
			background-color:#C78D3D;
			color:#fff;
			font-weight:bold;
			font-size:24px;
			text-shadow: 1px 1px 2px #000;
			}

	#searchDemoTable thead tr th.table-sort {
			/* highlight the currently selected sort column */
			background:#eea234 url(../images/slider/bg_slider_tooltip.png) top left repeat-x !important;
			color:#fff !important;
			}

#slider_Expiration_Demo	{ width:224px; }
	
#slider_Moneyness_Demo	{ width:224px; }
	#slider_Moneyness_Demo .slider-tooltip { width:80px; }

.basic-filters {
		margin-top:10px;
		overflow:visible;
		}

.sliders .LI_slider {
		padding-bottom:0;
		}

.ajaxLoading { 
		min-height: 40px;
		}
