﻿.slider {
		position:relative;
		z-index:1;
		display:inline-block;
		width:200px;
		margin:0;
		padding:0;
		}
		
.slider-title {
			position:relative;
			z-index:-1;
			display:inline-block;
			width:100%;
			margin:0;
			padding:0; 
			text-align:center;
			color:#ddd;
			font-size:14px;
			font-weight:normal;
			}
	
.slider-bg-right {
		position:relative;
		z-index:2;
		display:block;
		width:100%;
		height:22px;
		line-height:22px;
		padding:0;
		margin:0;
		background:url(../images/slider/bg_slider_right.png) no-repeat;
		background-position:right center;
		}
					
.slider-bg-left {
		position:relative;
		display:block;
		width:100%;
		height:100%;
		padding:0; 
		margin:0;
		background:url(../images/slider/bg_slider_left.png) left center no-repeat; 
		}
					
.slider-bar {
		position:relative;
		height:100%;
		margin:0 16px;	/* This 16 affects the amount of bar you see to the left and right of the thumb.
						 * It is also used in function(O) of customslider (legendWidth calc) and in
						 * slider-legend LI css below.
						 */
		width:auto;
		}

.slider-tooltip	 {
		position:absolute;
		z-index:100;
		display:none;
		bottom:22px;
		width:100px;
		line-height:18px;
		margin:0 0 0 -50px;
		padding:0;
		color:#fff;
		background:#eea234 url(../images/slider/bg_slider_tooltip.png) top left repeat-x;
		border:1px solid #5f5f5f;
		text-align:center;
		font-size:12px; 
		}

.ui-slider-handle,
.slider-handle {
		position:absolute;
		display:inline-block;
		width:13px;
		height:100%;
		background:url(../images/slider/slider_handler.png) top right no-repeat;
		cursor:pointer;
		margin-left:-7px;
		}

.ui-slider-range {
		position:absolute;
		height:7px;
		top:7px;
		background:#eea234 url(../images/slider/bg_slider_tooltip.png) top left repeat-x;
		}

/* .ui-slider-handle-active	{	background-position:left top !important; } */

/* .ui-state-focus		{	background-position:left top !important; } */

.slider-legend	 {
		position:relative;
		z-index:-1;
		display:block;
		width:100%;
		margin:-7px 0 0;
		padding:0;
		list-style:none;
		text-align:center;
		color:#ddd;
		font-size:12px;
		font-weight:normal;
		}
				 
	.slider-legend LI	{
			position:static;
			display:block;
			float:left;
			width:32px;  /* 32 = 2 x 16 slider-bar margin */
			margin:0;
			padding:12px 0 0 !important; 
			border:0;
			text-align:center;
			text-indent:0;
			background:url(../images/slider/bg_slider_step.png) no-repeat;
			background-position:center -3px;
			}

	/* The margin-left:-1px below is necessary in some browsers to make the tick marks of the legends
	 * on the sliders line up with the thumb. In other browsers it causes an off-by-1 error. And in Firefox
	 * Mac the error comes and goes depending on the window height and/or presence of a vertical scroll bar.
	 * Super annoying but not sure how to fix it for all browsers simultaneously.
	 */
	.slider-legend .slider-legend-first		{	background-position: center top; margin-left:-1px; }
	.slider-legend .slider-legend-last		{	background-position: center top; }
	.slider-legend .slider-legend-center	{	background-position: center top; }
