﻿.stylish-select ul.newList {left:-9999px;}
ul.newList {
		margin:0;
		padding:0;
		list-style:none;
		color:#000;
		width:213px;
		background:#fff;
		position:absolute;
		border:1px solid #ccc;
		top:27px;
		left:0;
		overflow:auto;
		z-index:9999;
		font-size:14px
		}
		
	ul.newList a {
			color: #000;
			text-decoration:none;
			display:block
			}
			
		ul.newList li a {
				padding:3px 8px;
				display: block
				}
				
			ul.newList li a:focus { -moz-outline-style: none; }
	
/* highlight the currently selected item */
.hiLite {
		background:#57627C!important;
		color:#fff!important;
		} 
/* .highlight a {background:#650101!important; color:#fff!important;} */

.newListHover {
		background:#ccc!important;
		color:#000!important;
		cursor:default
		}

.newListSelected {
		width:207px;
		color:#000;
		height:25px;
		padding:2px 0 0 8px;
		float:left;
		background:url(drop-down-214.png) no-repeat;
		font-size:14px;
		z-index: 9999;
		}
		
	.newListSelected span {
			width:207px;
			display:block;
			}
	.newListSelHover,
	.newListSelFocus {
			/* background-position:0 -27px; */ /* this gives the control a hover effect */
			cursor:default;
			}

.selectedTxt {
		width:178px;
		overflow:hidden;
		height:18px;
		padding:3px 26px 0 0
		}

.newListOptionTitle {
		font-weight:bold;
		color:#888;
		padding-left:5px;
		}
		
	.newListOptionTitle ul { margin:3px 0 3px 0; }

	.newListOptionTitle li {
			font-weight:normal;
			padding-left:5px;
			}
