﻿.basic-filters {
		position:relative;
		overflow:hidden;
		padding:10px;
		margin:0 0 -1px;
		border:1px solid #aaa;
		}
	
	.basic-filters TEXTAREA	{
			width:200px;
			height:35px;
			border:1px solid #6A7796;
			background:#1E2B4A;
			color:#fff;
			font-size:12px;
			padding:2px;
			vertical-align:top;
			text-transform:uppercase;
			overflow:auto;
			}
	
.sliders {
		position:relative;
		z-index:2;
		width:100%;
		float:left;
		}
		
	.sliders .LI_slider {
			position:relative;
			z-index:2;
			float:left;
			text-align:center;
			padding:0 0 10px;
			margin:0 40px;
			width:200px;
			}
			
	.sliders H5 {
			position:relative;
			text-align:center;
			font-size:14px;
			font-weight:normal;
			margin-bottom:5px;
			}

.advanced-filters {
		position:relative;
		overflow:hidden;
		padding:10px;
		margin:0 0 -1px;
		border:1px solid #aaa;
		}
		
	.advanced-filters LABEL {
			display:block;
			padding:2px 0;
			color:#ddd;
			}
			
		.advanced-filters LABEL INPUT { vertical-align:bottom; }

	.advanced-filters LI.adv-links {
			width:400px;
			text-align:left;
			}

	.advanced-filters .sliders {
			overflow:visible;
			text-align:left;
			width:460px;
			padding:0;
			margin:0;
			}
			
		.advanced-filters .sliders .LI_slider {
				padding:0 25px 20px 0;
				margin:0;
				float:left;
				}

.adv-include-exclude {
		position:relative;
		z-index:1;
		float:right;
		width:400px; 
		border:1px solid #aaa; 
		font-size:12px;
		}

	.adv-include-exclude TD,
	.adv-include-exclude TH	{
			padding:3px 10px;
			vertical-align:top;
			}
	
	.adv-include-exclude TH {
			background:#aaa;
			color:#000;
			font-weight:normal;
			text-align:left;
			height:20px;
			}
	
.adv-sectors { width:150px; }
	
.adv-exclude { border-right:1px solid #aaa; }

	.adv-exclude TEXTAREA {
			width:120px;
			height:35px;
			border:1px solid #6A7796;
			background:#1E2B4A;
			color:#fff;
			font-size:12px;
			padding:2px;
			vertical-align:top;
			text-transform:uppercase;
			overflow:auto;
			}
				
#alertClose {
		text-align:center;
		}

div #prefs_string {
		display:inline;
		margin:0 0 0 11px;
		}

.column-list {
		position:relative;
		overflow:hidden;
		width:540px;
		margin:20px auto;
		}
		
	.column-list LI {
			position:relative;
			float:left;
			width:260px;
			padding:3px 5px;
			}
			
	.column-list .checked {	color:#CCCC66; }

.loading-table {
		display:none;
		position:absolute;
		z-index:10;
		top:0;
		left:0;
		background:#1E2B4A url(../images/ajaxLoader.gif) center center no-repeat; 
		}

#tableWrapper {
		position:relative;
		/* zoom:1; */
		border:1px solid #aaa;
		border-top:none;
		}
			
	#tableWrapper TABLE TD STRONG {	cursor:default; }

.search-table {
		position:relative;
		z-index:1;
		width:100%;
		background:#fff;
		color:#333;
		}
	
	.search-table THEAD {
			display:table-header-group;
			}
			
	.search-table TBODY {
			display:table-row-group;
			}
			
	.search-table TH {
			font-family: Arial, Helvetica, sans-serif;
			background:#aaa;
			border:none;
			text-align:center;
			}
				
		.search-table TH A,
		.search-table TH SPAN { /* for top10 & max-protection page, where the TH elements aren't A elements */
				display:block;
				background:none;
				padding:6px 4px 10px;
				text-decoration:none;
				color:#333;
				}
					
		.search-table TH.order-by {
					background:#eea234 url(../images/slider/bg_slider_tooltip.png) top left repeat-x;
					color:#fff;
					}
						
			.search-table TH.order-by A { color:#fff; }
			
				.search-table TH.order-by A.ASC 		{ background:url(../images/arr_up.png) center bottom no-repeat; }
				.search-table TH.order-by A.ASC:hover	{ background:url(../images/arr_up.png) center bottom no-repeat; }
				.search-table TH A.ASC:hover			{ background:url(../images/arr_down.gif) center bottom no-repeat; }
				
				.search-table TH.order-by A.DESC		{ background:url(../images/arr_down.gif) center bottom no-repeat; }
				.search-table TH.order-by A.DESC:hover	{ background:url(../images/arr_down.gif) center bottom no-repeat; }
				.search-table TH A.DESC:hover			{ background:url(../images/arr_up.png) center bottom no-repeat; }
				
				/*.search-table TH A.single-order:hover	{	background-image:none !important; }*/
				
	.search-table TD {
			padding:5px 2px; text-align:center; }


/* the names of these searchTable classes are important; the javascript function renderTable calculates them */
.searchTable_9_less TH		{ font-size:13px; font-weight:bold; }
.searchTable_10 TH			{ font-size:13px; font-weight:bold; }
.searchTable_11 TH			{ font-size:12px; font-weight:bold; }
.searchTable_12 TH			{ font-size:12px; font-weight:bold; }
.searchTable_13 TH			{ font-size:12px; font-weight:bold; }
.searchTable_14 TH			{ font-size:12px; font-weight:normal; }
.searchTable_15 TH			{ font-size:11px; font-weight:normal; }
.searchTable_16 TH			{ font-size:10px; font-weight:normal; }
.searchTable_17 TH			{ font-size:10px; font-weight:normal; }
.searchTable_18_plus TH		{ font-size:9px;  font-weight:normal; }

.searchTable_9_less TD		{ font-size:15px; font-weight:normal; }
.searchTable_10 TD			{ font-size:15px; font-weight:normal; }
.searchTable_11 TD			{ font-size:15px; font-weight:normal; }
.searchTable_12 TD			{ font-size:15px; font-weight:normal; }
.searchTable_13 TD			{ font-size:14px; font-weight:normal; }
.searchTable_14 TD			{ font-size:13px; font-weight:normal; }
.searchTable_15 TD			{ font-size:12px; font-weight:normal; }
.searchTable_16 TD			{ font-size:11px; font-weight:normal; }
.searchTable_17 TD			{ font-size:10px; font-weight:normal; }
.searchTable_18_plus TD		{ font-size:9px;  font-weight:normal; }

/* basic filters */
#slider_Expiration				{ width:224px; } /* width = EXPIRATION_SLIDER_MONTHS * 32 (legendWidth) */
#slider_StockPrice				{ width:232px; } /* has 200 possible slider values; needs to be at least 232px */
#slider_Moneyness				{ width:224px; } /* doesn't need to be this big, but looks better next to the others */
#slider_MinimumAnnualizedReturn	{ width:224px; } /* doesn't need to be this big, but looks better next to the others */
#slider_MinimumDividendPayment	{ width:232px; } /* has 200 possible slider values; needs to be at least 232px */
#editArea_Watchlist				{ width:265px; }

/* advanced filters */
#slider_PE						{ width:200px; }
#slider_MarketCap				{ width:200px; }
#slider_OptionPrice				{ width:200px; }
#slider_MinimumOpenInterest		{ width:200px; }

/* Goal page filters */
#slider_OpenPositions			{ width:200px; margin-left:68px; margin-top:13px; }
#slider_UseOfMargin				{ width:200px; margin-left:40px; margin-top:13px; }

#noMatches_wrapper { display:none; }

	#noMatches {
			background-color:#C78D3D;
			color:#eee;
			font-size:32px;
			font-weight:bolder;
			text-shadow:1px 1px 2px #000;
			text-align: center;
			}
