﻿body 
{
	font-family: Arial;
	font-size: 9px;
	margin: 20px;
}

td
{
text-align: left;
vertical-align: top;
}

.tdhead
{
font-weight: bold;
vertical-align: bottom;
}

.tdlast
{
border-style: none none solid none;
}

.tdborders
{
border-style: none solid solid none; 
border-width: thin; 
border-color: #cccccc;
}

.tdheadborders
{
border-style: none solid solid none; 
border-width: thin; 
border-color: #cccccc;
font-weight: bold;
vertical-align: bottom;
}

.spacer {
	border-top: 1px solid #E7E8E6;
	padding-top: 5px;
	padding-bottom: 5px;
	}