﻿.tdhead 
{
	font-weight:bold;
	font-size:small;
	}
.tddata
{
	font-weight:normal;
	vertical-align: top;
	font-size:small;
	padding: 2px;
	}
.trdataOver
{
	background-color: #bbbbbb;
	cursor: hand;
}
.trdataOut
{
	background-color: #ffffff;
	cursor: normal;
}
.tdsmallhead 
{
	font-weight:bold;
	font-size:12px;
	}
.tdsmalldata
{
	font-weight:normal;
	vertical-align: top;
	font-size:12px;
	padding: 2px;
	white-space:nowrap;
	}
.tdsmall
{
	font-weight:normal;
	vertical-align: top;
	font-size:12px;
	padding: 2px;
	}
.trRatingTwo
{
	background-color: #FFFF66;
}
.trRatingThree
{
	background-color: #FF6699;
}
.trRatingFour
{
	background-color: #CC3300;
}
