﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="footer.ascx.vb" Inherits="includes_footer" %>
<br /><br />

<div class="bottom"></div>

<br /><br />

<div class="copyright">Copyright 2009. All Rights Reserved.</div>
<br /><br />