﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="tasks.ascx.vb" Inherits="includes_tasks" %>
<div class="left_heads">&nbsp;&nbsp;Tasks</div><div class="lefts"><a href="/car/junk.aspx">Vechicles to Junk Store 1</a><br /><a href="/car/junk3.aspx">Vechicles to Junk Store 3</a></div><br />
<div class="left_heads">&nbsp;&nbsp;Reports</div><div class="lefts"><a href="/home/accounting/poprofit.aspx">P.O. Profitability</a><br /><a href="/car/junk_report.aspx">Junk Report Store 1</a><br /><a href="/car/junk_report3.aspx">Junk Report Store 3</a><br /><a href="/car/bust_report.aspx" target="_blank">Bust Report Store 1</a><br /><a href="/car/bust_report.aspx?store=3" target="_blank">Bust Report Store 3</a><br /><a href="/car/pull_report.aspx" target="_blank">Pull Report Store 1</a><br /><a href="/car/pull_report.aspx?store=3" target="_blank">Pull Report Store 3</a><br /></div><br />					
<div class="left_heads">&nbsp;&nbsp;Setup</div><div class="lefts"><a href="/car/setup/accelerators.aspx">Accelerators</a></div><br />
				