﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="header.ascx.vb" Inherits="includes_header" %>
 <div class="header"><div class="logo"></div><div class="logo_right">Counselman Automotive Recycling<br />3019 St. Stephens Rd.<br />Mobile, Al. 36612<br /><br /></div></div><br /><br />
<br />
<div class="nav"><a href="/car" class="nav">HOME</a></div><div class="shadow"></div><br />
		