﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="tasks.ascx.vb" Inherits="includes_tasks" %>
<iframe runat="server" id="iFrame_Tasks" width="180" height="550" style="border-style: none; border-width: 0px; border-color: inherit; margin: 0px;" src="" scrolling="no" frameborder="0"></iframe>
				