﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="vehicleimages.aspx.vb" Inherits="junkvehicles_vehicleimages" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body style="margin: 0 0 0 0">
    <form id="form1" runat="server">
        <asp:Table ID="tVehicleImages" runat="server">
            <asp:TableRow></asp:TableRow>
        </asp:Table>
    </form>
</body>
</html>
